:host {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;

  right: 0;
  top: 0;

  width: 23vw;
  height: 100%;

  background-image: url("/assets/forecastbg.jpg");
  background-size: cover;
  background-position: center;
  overflow: hidden;

  opacity: 0;
  transform: translateX(200px);
  transition: opacity 1s ease, transform 1s ease;

  &.showed {
    opacity: 1;
    transform: translateX(0px);
  }
}

.data-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 7rem;
  color: white;
}

.weather-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 3rem;
  gap: 0.5rem;
}

.weather-day {
  font-size: 32px;
  font-weight: bolder;
}

.weather-temp {
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-self: center;

  font-size: 60px;

  .degreeSymbol {
    position: absolute;
    right: -2rem;
    font-size: 30px;
  }

  .weatherImg {
    position: absolute;
    width: 4rem;
    left: -4.5rem;
  }
}

.weather-city {
  font-size: 26px;
  font-weight: lighter;
}

.timer-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 2rem;
}

.date-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 2.6rem;
  height: 2.6rem;
}

.date-title {
  font-size: large;
  font-weight: bold;
}

.date-subtitle {
  font-size: xx-small;
  color: rgb(226, 226, 226);
}