:host {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  width: 100%;
  height: 4rem;
  backdrop-filter: blur(10px) brightness(0.95);
  border-bottom: 1px solid whitesmoke;
  box-shadow: 0 0 1rem rgba(237, 222, 222, 0.1);
  z-index: 1;
}

.user-container {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  right: 4.5rem;
  gap: 0.5rem;
}

.info-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}

.logout-btn {
  width: 3rem;
  height: 3rem;
  position: absolute;
  right: 1rem;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  &:hover {
    opacity: 0.6;
    scale: 1.03;
  }
  &:active {
    opacity: 0.9;
  }
}

.title {
  color: black;
  font-size: x-large;
  font-weight: bolder;
}

.desc-title {
  color: rgb(90, 90, 90);
  font-size: 14px;
  font-style: italic;
  font-weight: bold;
}

img {
  width: 3rem;
  height: 3rem;
  border: none;
  border-radius: 50%;
  backdrop-filter: blur(10px) brightness(0.8);
  box-shadow: 0 0 1rem rgba(237, 222, 222, 0.1);
}
