<form  #myModal class="form" [formGroup]="modalForm" (ngSubmit)="onSubmit()">
    <div class="form-header">
        <div class="header-title">Create trip</div>
        <div class="header-cancel" (click)="onCancel()">X</div>
    </div>
    <div class="main-container">

        <div class="select-container">
            <div class="form-label">* City</div>
            <input
              class="form-control"
              [formControl]="cityFormControl"
              placeholder="Please select a city"
            />
          </div>

          <div class="date-container">
            <div class="form-label">* Start date</div>
            <input
              class="form-control"
              [formControl]="startDateFormControl"
              placeholder="Select date"
            />
          </div>

          <div class="date-container">
            <div class="form-label">* End date</div>
            <input
              class="form-control"
              [formControl]="endDateFormControl"
              placeholder="Select date"
            />
          </div>

    </div>
    <div class="form-footer">
            <button class="form-btn cancel" (click)="onCancel()">Cancel</button>
            <button class="form-btn save" type="submit">Save</button>
    </div>
    
  </form>