<form #myModal class="form" [formGroup]="modalForm" (ngSubmit)="onSubmit()">
  <div class="form-header">
    <div class="header-title">Create trip</div>
    <img class="header-cancel" src="assets/x_icon.png" (click)="onCancel()" />
  </div>
  <div class="main-container">
    <div class="select-container">
      <div class="form-label">* City</div>
      <select [formControl]="cityFormControl" required>
        <option value="" disabled selected hidden>Please select a city</option>
        <option *ngFor="let city of cities" [value]="city">
          {{ city }}
        </option>
      </select>
    </div>

    <div class="date-container">
      <div class="form-label">* Start date</div>
      <input
        (change)="onStartDateChanged($event)"
        id="startDate"
        type="date"
        class="form-control"
        [formControl]="startDateFormControl"
        required
      />
    </div>

    <div class="date-container">
      <div class="form-label">* End date</div>
      <input
        (change)="onEndDateChanged($event)"
        id="endDate"
        type="date"
        class="form-control"
        [formControl]="endDateFormControl"
        required
      />
    </div>
  </div>
  <div class="form-footer">
    <button type="button" class="form-btn cancel" (click)="onCancel()">
      Cancel
    </button>
    <button type="submit" class="form-btn save" [disabled]="!modalForm.valid">
      Save
    </button>
  </div>
</form>
