:host {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  background-color: white;
  margin-left: 2rem;
  margin-bottom: 3rem;
  margin-top: 1.5rem;
}

input {
  height: 42px;
  width: 230px;
  padding-left: 2.2rem;
  padding-right: 0.5rem;
  font: inherit;
  border-radius: 5px;
  color: black;
  background-color: rgb(248, 248, 248);
  border: 0.1px solid rgba(0, 0, 0, 0.2);

  &::placeholder {
    color: black;
    opacity: 1;
  }
}

img {
  position: absolute;
  margin-left: 10px;
  height: 1rem;
  width: 1rem;
}
